build --repo_env=CC=clang-18
build --repo_env=CXX=clang++-18
build --repo_env=BAZEL_CXXOPTS=-stdlib=libc++

build --cxxopt=-std=c++23
build --cxxopt=-stdlib=libc++
build --cxxopt=-fexperimental-library
build --linkopt=-stdlib=libc++

build --cxxopt=-Wall
build --cxxopt=-Wextra

build:opt --cxxopt=-O3
build:debug --cxxopt=-g

common --registry=https://raw.githubusercontent.com/digiboys/bazel-registry/main
common --registry=https://bcr.bazel.build

build:clang-tidy --aspects @bazel_clang_tidy//clang_tidy:clang_tidy.bzl%clang_tidy_aspect
build:clang-tidy --output_groups=report
build:clang-tidy --@bazel_clang_tidy//:clang_tidy_config=//:clang_tidy_config
build:clang-tidy --@bazel_clang_tidy//:clang_tidy_executable=//:clang_tidy_bin
build:clang-tidy --keep_going

build:clang-format --aspects=@bazel_clang_format//:defs.bzl%check_aspect
build:clang-format --output_groups=report
build:clang-format --@bazel_clang_format//:config=//:clang_format_config

build:clang-format-fix --aspects=@bazel_clang_format//:defs.bzl%fix_aspect
build:clang-format-fix --output_groups=report
build:clang-format-fix --use_action_cache=false
build:clang-format-fix --@bazel_clang_format//:config=//:clang_format_config

test --test_output=all
